<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nama</th>
          <th>Status</th>
          <th>Id Supervisor</th>
        </tr>
      </thead>
      <tbody>
        <%dataProject.forEach((dataProject)=>{%>


        <tr>
          <td><%=dataProject.id%></td>
          <td><%=dataProject.nama%></td>
          <td><%=dataProject.status%></td>
          <td><a href="/project/edit/<%=dataProject.id%>">Edit</a></td>
        </tr>

      <%})%>
      </tbody>
    </table>
  </body>
</html>
